<p (click) = 'close();' class='closer'>X</p>
<p>
  Settings
</p>

Spl Thermal Low <input type="range" (input) = 'doRefresh();' id="SplThermalLow" name="SplThermalLow" min="50" max="90" [(ngModel)]="settings.SplThermalLow" step="1" /><br/>
Spl Thermal Hi <input type="range" (input) = 'doRefresh();' id="SplThermalHi" name="SplThermalHi" min="100" max="150" [(ngModel)]="settings.SplThermalHi" step="1" /><br/>

Watts Low<input type="range" (input) = 'doRefresh();' id="PMaxlow" name="PMaxlow" min="1" max="90" [(ngModel)]="settings.SplPowerMaxLow" step="1" /><br/>
Watts Hi<input type="range" (input) = 'doRefresh();' id="PMaxHi" name="PMaxHi" min="100" max="1000" [(ngModel)]="settings.SplPowerMaxHi" step="20" /><br/>

dBmag Low <input type="range" (input) = 'doRefresh();' id="dBmagLow" name="dBmagLow" min="50" max="90" [(ngModel)]="dBmagLow" step="2" /><br/>
dBmag Hi <input type="range" (input) = 'doRefresh();' id="dBmagHi" name="dBmagHi" min="100" max="150" [(ngModel)]="dBmagHi" step="2" /><br/>

SPLd Low <input type="range" (input) = 'doRefresh();' id="SPLdLow" name="SPLdLow" min="50" max="90" [(ngModel)]="SPLdLow" step="2" /><br/>
SPLd Hi <input type="range" (input) = 'doRefresh();' id="SPLdlow" name="SPLdlow" min="100" max="150" [(ngModel)]="SPLdlow" step="2" /><br/>


Excursion<input type="range" (input) = 'doRefresh();' id="ExcursionHigh" name="ExcursionHigh" min="1" max="50" [(ngModel)]="ExcursionHigh" step="2" /><br/>

PlotPoints<input type='text' (input) = 'changePlotPoints();' id='PlotPoints' name='PlotPoints' [(ngModel)]='settings.PlotPoints'> <br/>

Box Volume Units:
<label for='cuFt'>ft^3</label>
<input type="radio" id="cuFt" name="VbUnits" checked />
<label for='cuIn'>in^3</label>
<input type="radio" id="cuIn" name="VbUnits" checked />
<label for='cuCm'>cm^3</label>
<input type="radio" id="cuCm" name="VbUnits" />
<label for='liter'>liter</label>
<input type="radio" id="liter" name="VbUnits" />
<br/>
Excursion units:
<label for='mm'>mm</label>
<input type="radio" id="cuFt" name="xmaxUnits" checked />
<label for='in'>in</label>
<input type="radio" id="in" name="xmaxUnits" checked />
<br/>
Cone Area units:
<label for='sqCm'>cm^2</label>
<input type="radio" id="sqCm" name="xmaxUnits" checked />
<label for='sqIn'>in^2</label>
<input type="radio" id="sqIn" name="xmaxUnits" checked />

